{% extends "blog/base.html" %}
{% block content %}
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                <small class="text-muted">{{ object.date_posted|date:"d F, Y" }}</small>
                {#				{% if object.author == user %}#}
                {#    				<div>#}
                {#        				<a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-update' object.id %}">Update</a>#}
                {#        				<a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' object.id %}">Delete</a>#}
                {#    				</div>#}
                {#				{% endif %}#}
            </div>
            <h2 class="article-title">{{ object.name }} - {{ course.university }}</h2>
            <p class="article-content"> Wydzial {{ object.department }}</p>
            <p class="article-content"> Stopien {{ object.grade }}</p>
            <p class="article-content"> Ilosc semestrow {{ object.semesters }}</p>

            <p class="article-content">{{ object.description }}</p>
        </div>
    </article>
    {% load plotly_dash %}
    <div class="{% plotly_class name="SimpleExample" %} card" style="height: 100%; width: 100%">
        {% plotly_app name="SimpleExample" ratio=0.65 %}
    </div>
{% endblock content %}