{% extends "blog/pagination.html" %}
{% block content2 %}
    {% load plotly_dash %}
    {% plotly_app name="Button" ratio=0.05 %}
    {% plotly_app name="Checkall" ratio=0.025 %}
    {% for course in courses %}
        <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                    <small class="text-muted">{{ course.date_posted|date:"d F, Y" }}</small>
                </div>
                <h2>
                    {% with course.id|stringformat:"s" as id %}
                        {% with "Check"|add:id as check_id %}
                            {% plotly_app name=check_id ratio=0.025 %}
                        {% endwith %}
                    {% endwith %}
                    <a class="article-title"
                       href="{% url 'course-detail' course.id %}">{{ course.name }}</a>
                    - {{ course.university }}</h2>
                <p class="article-description">{{ course.description }}</p>
            </div>
        </article>
    {% endfor %}
{% endblock content2 %}
