{% extends "blog/base.html" %}
{% block content %}
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2"
                       href="{% url 'university-detail' course.uniwersytet.id %}"
                    >{{ course.uniwersytet.nazwa }}</a>
                {% if user.is_authenticated %}
                    				<div>
                        				<a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'course-update' object.id %}">Update</a>
                        				<a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'course-delete' object.id %}">Delete</a>
                   				</div>
                {% endif %}
                <small class="text-muted">{{ object.date_posted|date:"d F, Y" }}</small>
            </div>
            <h2 class="article-title">{{ object.nazwa }}</h2>
            <p class="article-content"> {{ object.department }}</p>
            <p class="article-content"> Stopien {{ object.grade }}</p>
            <p class="article-content"> Tryb {{ object.tryb }}</p>
            <p class="article-content"> Ilosc semestrow: {{ object.semesters }}</p>
            <p class="article-content"> Tytul {{ object.tytul }}</p>
            <p class="article-content">{{ object.description }}</p>
        </div>

    </article>
    {% load plotly_dash %}
    {% plotly_app name="Progress" ratio=0.2 %}
    {% plotly_app name="CourseGraph" ratio=0.65 %}

{% endblock content %}
