{% extends "blog/base.html" %}
{% load bootstrap %}
{% block content %}
    <form method="GET">
            
                {{ filter.form|bootstrap }}
            
            <button type="submit" class="btn btn-primary">Search</button>
    </form>
    {% load plotly_dash %}
    {% plotly_app name="Button" ratio=0.05 %}
    <a href="comparison"> Sprawdz porownanie </a>
    {% plotly_app name="Checkall" ratio=0.025 %}
	{% for post in filter.qs %}
			<article class="media content-section">
				<div class="media-body">
					<div class="article-metadata">
						<a class="mr-2" href="#">{{ post.uniwersytet }}</a>
						<small class="text-muted">{{ post.tryb }}</small>
						<small class="text-muted">{{ post.tytul }}</small>
						<small class="text-muted">{{ post.date_posted|date:"d F, Y" }}</small>
					</div>
					<h2>
					{% with post.id|stringformat:"s" as id %}
                        {% with "Check"|add:id as check_id %}
                            {% plotly_app name=check_id ratio=0.025 %}
                        {% endwith %}
                    {% endwith %}
					<a class="article-title" href="{% url 'course-detail' post.id %}">{{ post.nazwa }}</a>
					</h2>
					<p class="article-content">{{ post.description }}</p>
				</div>
			</article>
	{% endfor %}
	{% if is_paginated %}
	
    	{% if page_obj.has_previous %}
        	<a class="btn btn-outline-info mb-4" href="?page=1">First</a>
        	<a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
    	{% endif %}
    	
    	{% for num in page_obj.paginator.page_range %}
        	{% if page_obj.number == num %}
            	<a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
        	{% endif %}
    	{% endfor %}
    	
    	{% if page_obj.has_next %}
        	<a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
        	<a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
    	{% endif %}
    	
	{% endif %}
{% endblock content %}
