{% extends "blog/base.html" %}
{% block content %}
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                <small class="text-muted">{{ object.date_posted|date:"d F, Y" }}</small>
            </div>
            <h2 class="article-title">{{ object.name }}</h2>
            <p class="article-content">{{ object.description }}</p>
        </div>
    </article>
    {% load plotly_dash %}
    {% plotly_app name="Progress" ratio=0.2 %}
    {% plotly_app name="UniversityGraphs" ratio=0.65 %}
{% endblock content %}