{% extends "blog/base.html" %}
{% block content %}
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                <small class="text-muted">{{ object.date_posted|date:"d F, Y" }}</small>
            </div>
            <h2 class="article-title">{{ object.name }}</h2>
            <p class="article-content"> Typ: {{ object.type_1 }}</p>
            <p class="article-content"> Lokacja: {{ object.location }}</p>
            <p class="article-content"
            > Miejsce w rankingu narodowym: {{ object.national_ranking }}</p>
            <p class="article-content"> Strona uniwersytetu: <a
                    href={{ object.website_url }}> {{ object.website_url }} </a>
            </p>
        </div>
    </article>
    <h2 class="article-title"> Lista kursow:</h2>
    {% for course in object.course_set.all %}
        <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                    <small class="text-muted">{{ course.date_posted|date:"d F, Y" }}</small>
                </div>
                <h2>
                    <a class="article-title"
                       href="{% url 'course-detail' course.id %}">{{ course.name }}</a>
                </h2>
                <p class="article-description">{{ course.description }}</p>
            </div>
        </article>
    {% endfor %}
{% endblock content %}